.App{
  margin-top: 20px;
  display: flex;
  justify-content: center;

}

.Card--Container{
  border-radius: 10px 10px 10px 10px;
  width: 317px;
  height: 880px;
  background: #1A1B21;
}

.Profile--Image{
  width: 100%;
  height: 317px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.Info--Name{
  text-align: center;
  color: white;
  margin:20px 0 0 0;
  position:relative;
}

.Info--Job{
  text-align: center;
  color: white;
  margin:10px 0 0 0;
  position:relative;
}

.Info--Site{
  text-align: center;
  color: white;
  margin:10px 0 0 0;
  position:relative;
}

.Button--Container{
  display: flex;
flex-direction: row;
  justify-content: center;
}

.Button-White{
  cursor: pointer;
  margin: 10px;
  border: 0;
  height: 34px;
  width: 115px;
  border-radius: 6px;
  padding: 9px, 13px, 9px, 11px;
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.Button-Blue{
  cursor: pointer;
  margin: 10px;
  border: 0;
  background: #5093E2;
  height: 34px;
  width: 115px;
  border-radius: 6px;
  padding: 9px, 13px, 9px, 11px;
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.About--Style{
  margin:0 auto 0 auto;
  color: white;
  width: 247px;
}

.About--Style > h3{
  margin:0;
}

footer{
  color: white;
  position: relative;
  background: #161619;
  width: 317px;
  height: 64px;
  bottom:0;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
}
